body {
  margin: 0;
  font-size: 18px;
  background-color: #ece5e5;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fieldset-group {
  padding: 16px 10px;
  border: px solid #fff;
  background-color: #030019;
  border-radius: 0.4rem;
  color: #fff;
  margin-bottom: 20px;
}
legend {
  background-color: #fff;
  color: #030019;
  border: 2px solid #030019;
  padding: 8px 10px;
  border-radius: 0.4rem;
}
.coordonnees-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.form-group {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.form-group label {
  margin-right: 5px;
}
.form-group input {
  padding: 5px 10px;
  border: 1px solid transparent;
}
